<h1>My First Google Map</h1>

<div id="googleMap" style="width:60%;height:400px;"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHJat4qhkv0Gu_7XH8hJ7u2wzZ5ge2XDE&callback=myMap"></script>