<!-- app/views/home/sign_up.html.erb -->
<div class="mainContent">
  <div class="grid">
    <h1 class="largeHeader">inTuiT</h1>

    <div class="">
      <p><a>turbotax</a> <a>quickbooks</a> <a>mint</a> </p>
    </div>
    <h2>One Account.</br> Everything Intuit.</h2>
    <p class="centeredDescription col_4">Create an account for all of Intuit's products. <br> <a href="">Learn more</a></p>
    <div class="col_1">
      <form class="signupForm">


        <label for="email">Email address</label><br>
        <input class="shortInput" id="email" type="text"><br>

        <label for="phone">Phone (recommended)</label><br>
        <input class="shortInput" id="phone" type="text"><br>

        <label for="password">Password</label><br>
        <input class="shortInput" id="password" type="text"><br>

      </form>

    </div><!-- end column 2 contact form -->


    <div class="col_4">
      <a href="" class="button createAccount">Create account</a>
    </div>

  </div><!-- end grid -->
  <p>By clicking Create Account, you agree to <br> our
<a>License Agreement</a> and <a>Privacy Statement</a>.</p>
<div class="minigrid">
<p>Invisible reCAPTCHA by Google <a href="#">Privacy Policy</a> and <a href="#">Terms of Use.</a></p>
</div>
</div><!-- end mainContent -->
