

<h1>WELCOME TO THE GOSSIPS WEBSITE OF THP </h1>



<table>
  <tr>
    <th>Gossiper</th>
    <th>Gossip</th>
    <th colspan="2"></th>
  </tr>

  <% @gossips.each do |gossip| %>
    <tr>
      <td><%= gossip.anonymous_author %></td>
      <td><%= gossip.content %></td>
      <td><%= link_to 'Show', gossip_path(gossip) %></td>
      <td><%= link_to 'Edit', edit_gossip_path(gossip) %></td>
    </tr>
  <% end %>
</table>
